/*css do header*/
*{
    font-family:arial,'Times New Roman', Times, serif;
}
.header{
    display:flex;
    background:#1f2937;
    
}
.header-link,.header-logo{
    height: 100px;
    /*border: solid red;*/
    flex:1;
}
.header-logo {
    display:flex;
    font-size:24px;
    font-weight:1000;
    color:#f9faf8;
}
.header-logo div{
flex:1;
}
.header-link{
    display:flex;
}
.header-link div{
    /*border:solid green;*/
    flex:1 1 auto;
}
.dois {
   display:flex;
}
.dois p {
    font-size:18px;
    font-weight:500;
    color:#e5e7eb;
}
.dois .link{
    flex:1;
}
/*fim do header*/
/*começo da segunda seção*/
.container1 {
    padding-left:200px;
    padding-right:200px;
    padding-top:100px;
    padding-bottom:100px;
    background:#1f2937;
    display:flex;
}
.container-title{
   flex:0.5 0 50%;
   /*border:solid green;*/
}
.container-title h1{
    font-size:48px;
    font-weight:1000;
    color:#f9faf8;
}
.container-title p{
    font-size:18px;
    color:#e5e7eb;
    font-weight:500;
}
.container3 {
    flex:0 0 50%;
}
.img-placeholder{
    display:flex;
    flex-direction:row;
    align-items:center;
    background-color:lightslategray;
    height:300px;
    width:600px;
    font-size:18px;
    color:#e5e7eb;
    font-weight:500;
}
.img-placeholder p{
    width:100%;
    text-align:center;
    vertical-align:middle;
}
.button1{
    background-color:#3882f6;
    border-radius:10px;
    border:none;
    height:40px;
    width:150px;
    font-size:18px;
    color:#e5e7eb;
    font-weight:1000;
}
/*Fim da segunda seção*/
/*Começo da terceira seção*/
#h2terceiraSecao{
    text-align:center;
    font-size:36px;
    font-weight:bolder;
    color:#1f2937;
}
.container4 {
    size:100%;
    align-items:center;
    display:flex;
    text-align:center;
    padding-left:250px;
    padding-right:250px;
    padding-bottom:50px;
}
.subcontainer{
    margin:0 auto;
    flex:1;
}
.placeholder {
    margin:0 auto;
    height:150px;
    width:150px;
    border-radius:10px;
    border:5px solid #3882f6;
}
.container5{
    display:flex;
    flex-direction: row;
    align-items:center;
    background-color:#e5e7eb;
    height:300px;
    justify-content: center;
    padding-top:30px;
    padding-bottom:30px;
}
.container5 p{
    text-align:left;
    font-size:36px;
    color:#1F2937;
}
#assinatura{
    font-size:20px;
    font-weight:1000;
    text-align:right;
}
/*fim da quarta seção*/
/*começo da quinta seção*/
.container6{
    margin:0 auto;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items:center;
    padding-top:70px;
    padding-bottom:70px; 
}
.subcontainer6 {
    padding-left:100px;
    padding-right: 100px;
    margin:0 auto;
    background-color: #3882F6;
    border-radius: 10px;
    height:150px;
    width:800px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.subP{
    padding:0;
    flex:1;
}
.textoForte{
    font-size:24px;
    font-weight:700;
    color:#f9faf8;
    margin-bottom:0;
}
.normal{
    font-size:18px;
    font-weight:500;
    color:#e5e7eb;
    margin-top:0;
}
.subB{
    display:flex;
    margin:0 auto;
    align-items: center;
    flex:1;
}
.subB button{
    align:center;
    margin:0 auto;
    color:#f9faf8;
    font-size:18px;
    font-weight:600;
    border-radius:10px;
    height:40px;
    width:130px;
    background-color: #3882F6;
    border:solid #f9faf8;
}
/*fim da quinta seção*/
/*começo da sexta seção (footer)*/
.footer{
    display:flex;
    align-items:center;
    font-size:18px;
    font-weight:500;
    color:#e5e7eb;
    text-align:center;
    background-color: #1f2937;
    height:100px;
}
.footer p{
    margin:0 auto;
}
